{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:eqeqeq-fix/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort", "prettier"],
	"rules": {
		"eqeqeq": ["warn"],
		"no-empty": ["warn"],
		"no-useless-escape": [ "warn" ],
		"unused-imports/no-unused-imports": "error",
		"no-mixed-spaces-and-tabs": ["off"],
		"no-multi-spaces": "error",
		"no-multiple-empty-lines": "error",
		"object-curly-spacing": ["warn", "always"],
		"prettier/prettier": 2,
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"react-hooks/exhaustive-deps": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "off"
	},
	"overrides": [
		{
			"files": ["**/*.js", "**/*.ts", "**/*.tsx"],
			"rules": {
				"simple-import-sort/imports": [
					"error",
					{
						"groups": [[""]]
					}
				]
			}
		}
	]
}